.our-cakes {
    padding: 2rem 0;
    .our-cakes-container {
        @include wide-container;
        text-align: center;
        h2 {
            margin-bottom: 2rem;
        }
        .our-cakes-grid li {
            margin-bottom: 2rem;
            .cake-grid-container {
                &__image {
                    position: relative;
                    a {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                    &::before {
                        content: '';
                        background-image: url(/assets/images/hearts.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 10rem;
                        width: 10rem;
                        position: absolute;
                        top: 0;
                        right: 50%;
                        z-index: -1;
                        visibility: hidden;
                        transition: top .2s;
                    }
                    &:hover {
                        transform: translateY(-.5rem);
                        transition: transform .5s;
                        &::before {
                            visibility: visible;
                            top: -4rem;
                        }
                    }
                }
                h3 {
                    margin-top: 1rem;
                }
            }
        }
    }
}
@media screen and (min-width: 43.75em) {
    .our-cakes .our-cakes-container .our-cakes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        gap: 2rem;
        margin-bottom: 2rem;
        li {
            margin-bottom: 0;
            .cake-grid-container__image {
                min-height: 13rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
@media screen and (min-width: 50em) {
    .our-cakes {
        padding: 4rem 0;
    }
}