input[type="email"] {
    border: none;
    border-radius: 2em;
    padding: .5em 2em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .5rem;
    box-sizing: border-box;
    max-width: 100%;
}